@media (max-width: 1080px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .container .esquerda {
        width: 100%;
    }

    .container .direita {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .container .esquerda {
        width: 100%;
        height: 50%;
        background-color: white;
        color: #58af9c;
        border-bottom: 1px solid #58af9c;
    }

    .container .esquerda p {
        display: none;
    }

    .container .esquerda button {
        border-color: #58af9c;
        color: #58af9c;
    }

    .container .esquerda button:hover {
        background-color: #cccaca;
    }
}