body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;

}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.container .esquerda{
    width: 40%;
    height: 100%;
    background-color: #58af9c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.container .esquerda h1{
    font-size: 40px;
}

.container .esquerda p{
    font-weight: 100;
}

.container .esquerda button{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 500ms ease;
    
}

.container  button:hover {
    background-color: #ffffff;
    color: #58af9c;
    border: 1px solid #58af9c;
}

.container .direita {
    width: 60%;
    height: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .direita .formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container .direita .formulario .topo h1{
    font-size: 40px;
    color: #58af9c;

}

.container .direita .formulario .topo {
    display: flex ;
    flex-direction: column;

}


.container .direita .formulario .topo .redes-sociais{
    display: flex ;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
   }

.container .direita .formulario .topo .redes-sociais .icone {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  
}

.container .direita .formulario .topo p{
    color: #cecece;
    text-align: center;
    font-weight: 100;

    
}

.container .direita .formulario .meio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 450px;
    

}

.container .direita .formulario .meio .campo {
    display: flex;
    gap: 10px;
    background-color: #ecf0f1;
    padding: 10px 20px;
    border-radius: 3px;


}

.container .direita .formulario .meio .campo input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    
}

.container .direita .formulario .fim  {
    margin-top: 30px;
}

.container .direita .formulario .fim button {
    background-color: #58af9c;
    color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 50px;
    cursor: pointer;
    transition: all 500ms ease;

}

.container .direita .formulario .fim button:hover {
    background-color: #ffffff;
    color: #58af9c;
    border: 1px solid #58af9c;
    
}

.container .direita .formulario .plus button {
    padding: 10px 45px;
    margin-top: 20px;
    border: 1px solid;
    background-color: white;
    color: #58af9c;
    border-radius: 30px;
    cursor: pointer;
    transition: all 500ms ease;
} 

.container .direita .formulario .plus button:hover {
    background-color: #f1f1f1;
}